.sidebar_bg {
  background: radial-gradient(
      at 13.814868431089122% 36.55432836575234%,
      hsla(33.33333333333323, 100%, 98.23529411764707%, 1) 0%,
      hsla(33.33333333333323, 100%, 98.23529411764707%, 0) 100%
    ),
    radial-gradient(
      at 26.757512289394448% 14.55716430928402%,
      hsla(201.99999999999997, 100%, 94.11764705882352%, 1) 0%,
      hsla(201.99999999999997, 100%, 94.11764705882352%, 0) 100%
    ),
    radial-gradient(
      at 71.81123062379334% 73.35997062171711%,
      hsla(201.99999999999997, 100%, 94.11764705882352%, 1) 0%,
      hsla(201.99999999999997, 100%, 94.11764705882352%, 0) 100%
    ),
    radial-gradient(
      at 80.67571417506147% 77.36934613667599%,
      hsla(33.33333333333323, 100%, 98.23529411764707%, 1) 0%,
      hsla(33.33333333333323, 100%, 98.23529411764707%, 0) 100%
    );
}
